div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 100%;
    width: 1000;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
    text-align: ;
  }

  #parent1 {
    position: static;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #child1 {
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #parent2 {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #child2 {
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #parent3 {
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #child3 {
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #parent4 {
    position: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }
  
  #child4 {
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: none solid #4CAF50;
    display: inline;
  }