@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fredoka', sans-serif;

}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}

.logo{

    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 500;

}

.navbar a{

    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;

}


.navbar .button-login{

    background: transparent;
    border: none;
    margin: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;

}


.navbar .button-login::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100px ;
    height: 2px;
    background: white;
    opacity: .85;

}

.section{

    min-height: 100vh;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;

}

.pembungkus{

    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background: rgb(255, 166, 0);
    z-index: 100;
    display: flex;
    align-items: center;
    
}

.pembungkus .logreg-kotak{

    width: 100%;
    background: red;

}

.pembungkus  .logreg-judul{

    text-align: center;
    margin-bottom: 40px;
    color: white;

}

.pembungkus  .logreg-judul  h2{

    font-size: 32;

}

.form-box input{

    width: 100%;
    background: transparent;

}


