@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{

    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Fredoka', sans-serif;

    
}

:root {

    --bg-color:linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(90deg, hsl(245, 79%, 35%) 0%, #00D3FF 72.40%);
    --text-color: white;
    --nav-color: linear-gradient(270deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.00) 54.17%);

}

html {

    font-size: 62.5%;
    overflow-x: hidden;

}

body {

    background: var(--bg-color);
    color: var(--text-color)

}


section {

    min-height: 100vh;
    padding: 10rem 9% 2;
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 2rem 9%;
    background: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.btnhome{

    font-size: 2.5rem;
    color:#00fbff;
    cursor: pointer;
    text-decoration:none ;


}



.navbar a {

    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 6rem ;
    text-decoration:none ;

}

.navbar a:hover,
.navbar a.active,
.navbar a:active {

    color:#00fbff;
}

#menu-icon {
    
    font-size: 3.6rem;
    color: var(--text-color);

}

.home {

    display: flex;
    justify-content: center;
    align-items: center;

}

.home-img img{

    max-width: auto;
    width: 35vw;
    
    
}


.home-content h1{

    font-size: 5.6rem;
    font-weight: 1000;
    font-family: 'Inter', sans-serif;


}

.home-content p{

    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4rem;
    font-family: 'Inter', sans-serif;


}

span{

    color:#00fbff;
}

.button{

    display: inline;
    padding: 1rem 2.8rem;
    position: relative;
    top: 20;
    background: linear-gradient(90deg, #00D4FF 0%, #2E8FE6 100%);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing:  .1rem;
    font-weight: 600;
    text-align: center;
    text-decoration:none ;


}

.button:hover {
    box-shadow: none;
}